html, body {
  font-family: 'Montserrat Alternates', sans-serif;
  background: linear-gradient(135deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%);
  height: 100%;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 200px;
  display: block;
  text-align: center;
  font-size: 1.92em;
  font-weight: 600;
  letter-spacing: -0.055em;
}

.container {
  width: 100%;
  height: 140px;
  border-radius: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 768px;
  margin-top: 10px;

}

.buttons {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  justify-content: center;

}

.button {
  font-size: 24px;
  background: linear-gradient(148deg,#7d5fff, #18dcff, #7d5fff);
  border: 0;
  margin: 3px;
  font-family: 'Montserrat Alternates';
  font-weight: bold;
  color: white;
  border-radius: 4px;
  width:  144px;
  height: 48px;
  transition: all 0.2s;
  cursor:  pointer;
}

.button:hover {
  border: 1px solid #fff;
  cursor:  pointer;
}

.button:active {
  transform: scale(0.95);
}

#canvas {
  border-radius: 24px;
}


.prediction-container {
  width: 240px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prediction-heading {
  font-size: 24px;
  margin-bottom: 10px;
  margin-right: 16px;
}

.prediction-label {
  border: 2px dashed black;
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  padding: 18px 36px;
  padding: 10px 36px 3px 36px;
}

.confidence {
  font-size: 18px;
  color: limegreen;
}

.draw-title {
  color:  #000;
  font-size:  24px;
  font-weight: bold;
  margin-right: 16px;
  margin-left: -32px;
  text-align: center;
}